.section-about
{
    background-color: $color-grey-light;
    padding: 25rem 0;
    margin-top: -20vh;
}
.section-features
{
    padding: 10rem 0;
    background-color: #f7f7f7;
    // background-image: linear-gradient(to right bottom,
    //  rgba(0, 0, 0, 0.932),
    //  rgba(0, 0, 0, 0.377)),
    //    url(../../imgs/bg.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
//     background-position: top;
//     // clip-path: polygon(20% 0%, 100% 0, 100% 20%, 100% 100%, 100% 100%, 100% 100%, 0 82%, 0 0);
// position: relative;
// }
}
.section-course
{
    background-color: $color-grey-light;
    padding: 25rem 0;
    margin-top: -20vh;
}
.section-stories
{
    padding: 5rem 0;
    background-color: #f7f7f7;
}
.students
{
    padding: 15rem 0;
    background-color:#f7f7f7;

}